12_lists/.ipynb_checkpoints/*
13_1_list_comprehensions/notebooks/.ipynb_checkpoints/*
14_dictionaries/notebooks/.ipynb_checkpoints/1_dictionaries-checkpoint.ipynb
14_dictionaries/notebooks/.ipynb_checkpoints/*
